#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100hv;

}

#dishes {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 150px;
}

.dish {
   cursor: pointer;
    display: flex ;
    /* grid-template-columns: repeat(auto-fit, minmax(30rem, 1FR)); */
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: 25%;
    padding: 20px;
    background-color:  #ffffff;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow:hidden ;
}
.dish:hover {
    background-color: rgb(140, 196, 140);
}


