* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    transition: 0.2s linear;
    text-transform: capitalize;
}

.btn{
    background: #15ff00;
    color: #0001;
    padding: 1rem 3rem;
   font-size: 0.8rem;
   cursor: pointer;
   margin-top: 1rem;
}


body {
    background-color: #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    /* width: 100px; */
    height: 105px;
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3);
    background-color: #FFFFFF;
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}


section {
    padding: 3rem 2rem;
    /* padding: 28px 8%; */
    margin: 0 auto;
    max-width: 1200px;
}

.navbar a {
    margin: 0 1rem;  
    font-size: 1.3rem;
    color: #000;

}

.navbar a:hover {
    color: #15ff00;
    border-bottom: 0.1rem solid #15ff00;
    padding-bottom: 0.5rem;
    font-size: 1.6rem;

}

.icos img {
    margin: 1rem;
    cursor: pointer;
}


.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(6, 240, 18);
    color: #000;
    border-radius: 12px;
    padding: 10px 30px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
}

.btn-default:hover {
    background-color: #31c724;
}

.social-media-buttons {
    display: flex;
    gap: 18px;
}

.social-media-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: #fff;
    font-size: 1, 25rem;
    border-radius: 10px;
    text-decoration: none;
    color: #1d1d1d;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease;
}

.social-media-buttons a:hover {
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);

}

.section-title {
    background: center;
    color: #15ff00;
    font-size: 1.5rem;
}

.section-subtitle {
    font-size: 2.1875rem;
}


.btn_saibamais {
    
    color: #000;
    
    cursor: pointer;
    margin-top: 1rem;
}
